.toggle {
    font: normal normal normal 18px/1 "Material Icons";
    color: #555;
    white-space: pre;
    margin-right: 4px;
  }

.checkbox-item {
    display: none
}

.toggle.collapsed::after {
    cursor: pointer;
    content: "\E5CF";
    vertical-align: middle;
}
  
.toggle.expanded::after {
    cursor: pointer;
    content: "\E5CE";
    vertical-align: middle;
}

.tag {
    display: none
}
.dropdown-trigger {
    margin-top: -8px;
    border: none !important;
    width: 100%;
}

.dropdown-trigger.arrow.top::after {
    content: "" !important
}

.dropdown-trigger.arrow.bottom::after {
    content: "" !important; /*for loading icon check https://stackoverflow.com/questions/19255296/is-there-a-way-to-use-svg-as-content-in-a-pseudo-element-before-or-after*/
}

.dropdown-trigger.arrow::after {
    float: right;
    margin-right: -3px !important;
    margin-top: 4px
}

.tag-item {
    margin: 0px !important
}

.search {
    border-bottom: none !important;
    color: #bfbfbf;
    margin-left: -5px;
    margin-top: 4px;
}

.dropdown {
    width: 100%;
}

/* comment the following if show search in the sidebar of wiki ontology */
.react-dropdown-tree-select {
    margin-left: 10px;
    width: 400px;
}