.toggle {
    font: normal normal normal 18px/1 "Material Icons";
    color: #555;
    white-space: pre;
    margin-right: 4px;
    vertical-align: middle;
}

.checkbox-item {
    display: none
}

.toggle.collapsed::after {
    content: "\E5CF";
}

.toggle.expanded::after {
    content: "\E5CE";
}

.tag {
    display: none
}

.dropdown-trigger {
    margin-top: -8px;
    border: none !important;
    width: 100%;
}

.dropdown-trigger.arrow.top::after {
    content: "" !important
}

.dropdown-trigger.arrow.bottom::after {
    content: "" !important;
    /*for loading icon check https://stackoverflow.com/questions/19255296/is-there-a-way-to-use-svg-as-content-in-a-pseudo-element-before-or-after*/
}

.dropdown-trigger.arrow::after {
    float: right;
    margin-right: -3px !important;
    margin-top: 4px
}

.tag-item {
    margin: 0px !important
}

.search {
    border-bottom: none !important;
    color: #555;
    margin-left: -4px;
    margin-top: 4px;
    width: 200px;
}

.search::placeholder {
    color: #bfbfbf;
}

.dropdown {
    width: 100%;
}

.dropdown-content {
    overflow: scroll;
    max-height: 80vh;
    max-width: 40vw;
}

.infinite-scroll-component {
    overflow: unset !important;
}


/* comment the following if show search in the sidebar of wiki ontology */

.react-dropdown-tree-select {
    margin-right: 10px;
    width: 400px;
}