.toggle {
    font: normal normal normal 18px/1 "Material Icons";
    color: #555;
    white-space: pre;
    margin-right: 4px;
    vertical-align: middle;
}

.checkbox-item {
    display: none
}

.toggle.collapsed::after {
    content: "\E5CF";
}

.toggle.expanded::after {
    content: "\E5CE";
}

.tag {
    display: none
}

.dropdown-trigger {
    margin-top: -8px;
    border: none !important;
    width: 100%;
}

.dropdown-trigger.arrow.top::after {
    content: "" !important
}

.dropdown-trigger.arrow.bottom::after {
    content: "" !important;
    /*for loading icon check https://stackoverflow.com/questions/19255296/is-there-a-way-to-use-svg-as-content-in-a-pseudo-element-before-or-after*/
}

.dropdown-trigger.arrow::after {
    float: right;
    margin-right: -3px !important;
    margin-top: 4px
}

.tag-item {
    margin: 0px !important
}

.search {
    border-bottom: none !important;
    color: #555;
    margin-left: -4px;
    margin-top: 4px;
    width: 378px;
}

.search::placeholder {
    color: #bfbfbf;
}

.dropdown {
    width: 100%;
}

.dropdown-content {
    overflow: auto;
    max-height: 80vh;
    max-width: 40vw;
    background-color: rgb(39, 42, 46) !important;
    min-width: 376px;
    min-height: 300px;
    border-radius: 5px;
}

.infinite-scroll-component {
    overflow: unset !important;
}

/* comment the following if show search in the sidebar of wiki ontology */

.react-dropdown-tree-select {
    margin-right: 10px;
    width: 400px;
}

.react-dropdown-tree-select .dropdown .dropdown-content {
    z-index: 100 !important;
}

.node {
    color: rgb(187, 197, 206);
}

.class .node-label::before {
    /* content: url("../lib/grapholscape/assets/icons/ic_treeview_concept_18dp_1x.png"); */
    content: url(class.svg);
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

.objectProperty .node-label::before {
    /* content: url("../lib/grapholscape/assets/icons/ic_treeview_role_18dp_1x.png"); */
    content: url(role.svg);
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 21px;
}

.dataProperty .node-label::before {
    /* content: url("../lib/grapholscape/assets/icons/ic_treeview_attribute_18dp_1x.png"); */
    content: url(attr.svg);
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}
