@import '~antd/dist/antd.css';
/* BACKGORUND COLORS  */

:root {
  --highlight-gray: #7a818b;
  --highlight: #f8a915;
  --light: #365474;
  --medium: #2C445E;
  --medium-dark: #182634;
  --dark: #121C27;
  --red: #aa2d2f;
  --white: #ffffffd5;
  --disabled: #8894a3;
}

/***************************
*                          *
*                          *
*          LOGO            *
*                          *
*                          *
****************************/

@keyframes logo-open {
  0% {
    content: url(only_logo.svg);
    max-height: 30px;
  }
  50% {
    margin-left: -800px;
    max-height: 30px;
  }
  75% {
    margin: 0px;
  }
  100% {
    content: url(scritta.svg);
    max-height: 23px;
    margin-left: auto;
  }
}

@keyframes logo-close {
  0% {
    content: url(scritta.svg);
    max-height: 23px;
  }
  50% {
    margin-left: -500px;
    max-height: 23px;
  }
  75% {
    margin: 0px;
  }
  100% {
    content: url(only_logo.svg);
    max-height: 30px;
    margin: auto;
  }
}

.logo-open {
  animation: logo-open 1.5s forwards ease-out;
}

.logo-closed {
  animation: logo-close 1.5s forwards ease-out;
}

/***************************
*                          *
*                          *
*          SIZES           *
*                          *
*                          *
****************************/

h1 {
  font-size: 2em;
  margin-bottom: 0px;
}

/* EXPAND MAIN MENU BUTTON */

.ant-layout-sider-trigger {
  height: 25px;
  line-height: 25px;
}

/* RESIZE MAPPING SELECTED TO CORRECTLY SHOW POP UP */

.ant-select-selection-selected-value .mapping {
  width: 310px;
}

/* SHOW ELLIPSIS IF MAPPING NAME TOO LONG */

.mapping {
  width: 342px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* REDUCE ANT COLLAPSE PADDING */

.ant-collapse-content>.ant-collapse-content-box {
  padding: 4px
}

/* REDUCE ANT LIST MARGIN */

.ant-list-item {
  margin-bottom: 4px !important
}

/* BIG CARD */

.bigCards>.ant-spin-nested-loading>.ant-spin-container>.ant-row {
  margin: 0 !important
}

/* WORD WRAP IN TABLE CELLS*/

td {
  white-space: normal !important;
}

/* REDUCE PADDING OF CONTENTS*/

.ant-table-tbody>tr>td, .ant-card-wider-padding .ant-card-body, .ant-card-contain-tabs .ant-card-body {
  padding: 4px
}

/* REDUCE PADDING OF TITLES*/

.ant-card-head-title, .ant-tabs-large>.ant-tabs-bar .ant-tabs-tab {
  padding: 8px 0px
}

/* REDUCE SPACE IN TABS */

.ant-tabs-nav .ant-tabs-tab {
  margin-right: 16px
}

/* KEEP CARDS AND TABBED CARDS LOOK THE SAME */

.ant-card-head {
  min-height: unset;
  border-bottom-color: transparent
}

/* KEEP CARDS AND TABBED CARDS LOOK THE SAME */

.ant-card-wider-padding .ant-card-head {
  padding: 0px 24px;
}

.ant-card-meta {
  height: 160px;
  overflow: auto;
}

.mappingAssertion>.ant-card-body {
  height: unset
}

/* FIX HEIGHT OF CARDS IN WIKI ETC */

.classCard .ant-card-body, .objectPropertyCard .ant-card-body, .dataPropertyCard .ant-card-body {
  height: 150px;
  overflow: auto;
  padding: 4px;
}

.mappingCard .ant-card-body {
  height: 40vh;
  overflow: auto;
  padding: 4px;
}

.ant-table-placeholder {
  padding: 0px;
  border: unset
}

.description .ant-card-body {
  max-height: 280px;
  min-height: 100px;
  overflow: auto;
  padding: 4px;
}

.queryExecutionReport .ant-card-body {
  height: unset
}

.bigUpload>.ant-upload {
  width: 100%
}

.ant-list-empty-text {
  padding: 0
}

/***************************
*                          *
*                          *
*          COLORS          *
*                          *
*                          *
****************************/

.ant-table-thead>tr>th {
  border: unset
}

.mainMenu, .ant-layout-sider-trigger {
  background-color: var(--light)
}

.ant-layout, .SPARQLTab, .ant-tabs.ant-tabs-card>.ant-tabs-bar .ant-tabs-tab-active {
  background-color: var(--dark) !important;
  border-radius: 0px;
}

.ant-tabs-nav-scroll {
  background-color: var(--medium-dark);
  min-height: 40px;
}

.ontologyMenu {
  background-color: var(--medium);
  color: var(--white)
}

.drawerMenu {
  background-color: var(--light);
  color: var(--white)
}

.queryCatalog, .ant-card-head, .ant-card, .ant-table-placeholder, .ant-tabs.ant-tabs-card>.ant-tabs-bar .ant-tabs-tab {
  background-color: var(--medium-dark)
}

/* BTN DISABLED */

.ant-btn:disabled {
  background-color: var(--disabled);
  opacity: 0.4;
  color: var(--white);
}

/* SPARQL TAB COLORS */

.ant-menu-dark .ant-menu-item-selected.catalogQuery {
  background-color: transparent !important;
  color: var(--white)
}

.ant-switch-checked, .ant-progress-success-bg, .ant-progress-bg {
  background-color: var(--highlight);
}

.ant-btn-primary, .ant-btn {
  border-color: transparent;
  color: var(--white);
}

.ant-btn:hover, .ant-btn:focus {
  background-color: var(--medium)
}

.ant-modal-footer {
  border-top: solid 1px var(--dark)
}

.ant-input {
  border-color: transparent
}

.ant-input:hover, .ant-input:focus {
  border-color: var(--highlight)
}

.ant-btn-primary:hover, .ant-btn-primary:focus {
  color: var(--white);
  background-color: var(--highlight-gray);
  border-color: var(--highlight)
}

.ant-btn-group .ant-btn-primary:first-child:not(:last-child) {
  border-right-color: var(--highlight)
}

.ant-btn-group .ant-btn-primary+.ant-btn:not(.ant-btn-primary):not([disabled]) {
  border-left-color: var(--highlight)
}

.ant-card-actions>li>span:hover {
  color: var(--highlight);
  transition: .4s ease-in-out
}

.ant-select-selection:hover {
  border-color: var(--highlight);
  border-right-width: 1px !important;
}

.ant-btn:hover {
  color: var(--highlight);
  border-color: var(--highlight)
}

.ant-btn-danger {
  color: var(--red)
}

.ant-btn-danger:hover, .ant-btn-danger:focus {
  color: var(--white);
  background-color: var(--red);
  border-color: var(--red);
}

/* pre COLOR */

pre {
  background: none !important;
  margin-bottom: 0px
}

/* LINK COLOR */

a, .ant-card-head-title, .ant-tabs-tab, .link {
  color: var(--white) !important
}

a:hover, .link:hover {
  color: var(--highlight) !important;
}

.link {
  background-color: transparent;
  cursor: pointer;
  border: none
}

/* MENU SELECTION */

.ant-menu-inline, .ant-menu-vertical {
  border: unset;
}

.ant-menu .ant-menu-item-selected {
  background: var(--highlight-gray) !important;
}

.ant-menu .ant-menu-item-selected a {
  color: var(--dark) !important;
}

.ant-menu .ant-menu-item-selected::after {
  border-color: var(--highlight)
}

.ant-tabs-ink-bar {
  background-color: var(--highlight)
}

.ant-menu-horizontal>.ant-menu-item:hover, .ant-menu-horizontal>.ant-menu-submenu:hover, .ant-menu-horizontal>.ant-menu-item-active, .ant-menu-horizontal>.ant-menu-submenu-active, .ant-menu-horizontal>.ant-menu-item-open, .ant-menu-horizontal>.ant-menu-submenu-open, .ant-menu-horizontal>.ant-menu-item-selected, .ant-menu-horizontal>.ant-menu-submenu-selected {
  border-bottom: 2px solid var(--highlight)
}

/* COMPONENTS BACKGROUND */

.ant-collapse-content, .ant-drawer-header, .ant-drawer-wrapper-body, .ant-modal-content, .ant-modal-header {
  background-color: var(--light) !important;
}

.ant-drawer-header {
  border-color: var(--highlight)
}

.ant-layout-footer {
  background-color: var(--light) !important
}

.ant-popover-inner-content, .ant-popover-arrow {
  border-color: rgb(43, 43, 43) !important;
  background-color: rgb(43, 43, 43);
  color: var(--white)
}

/* TITLES AND BUTTONS BACKGROUND */

.ant-card-actions, .ant-btn, .ant-input, .search, .ant-table-thead>tr>th, .ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link, .ant-pagination-item, .ant-select-selection, .ant-collapse-header, .ant-checkbox-inner {
  background-color: var(--medium)
}

/* NEW TAB IN SPARQL ENDPOINT */

.ant-tabs-extra-content {
  background-color: var(--light);
  padding-right: 10px;
  padding-top: 6px;
  padding-left: 10px;
  vertical-align: middle;
  line-height: 34px;
}

.ant-tabs-extra-content .ant-tabs-new-tab {
  border-color: transparent;
  color: var(--white)
}

.ant-menu-dark .ant-menu-item {
  color: var(--white);
}

.catalogQuery>div>span>i:hover {
  color: var(--red);
  transition: .4s ease-in-out
}

.ant-menu-item div a {
  text-decoration: none !important
}

.ant-tabs-extra-content .ant-tabs-new-tab:hover, .ant-layout-sider-trigger:hover, .ontologyTrigger:hover, .mainMenuArrow:hover {
  border-color: transparent;
  color: var(--highlight) !important;
  transition: .4s ease-in-out
}

.ant-btn-loading {
  opacity: 0.85;
}

/* TABLE ROWS */

.ant-table-tbody>tr:hover:not(.ant-table-expanded-row)>td {
  background-color: var(--highlight-gray)
}

.ant-tabs.ant-tabs-card>.ant-tabs-bar {
  border-color: transparent
}

.ant-tabs.ant-tabs-card>.ant-tabs-bar .ant-tabs-tab {
  border-color: transparent
}

.ant-select-dropdown-menu-item {
  background-color: var(--light);
}

.ant-select-dropdown-menu-item:hover {
  background-color: var(--highlight);
}

.ant-select-selection {
  border-color: transparent
}

.ant-card-actions>li:not(:last-child) {
  border-right: 1px solid var(--dark);
}

.ant-card-actions {
  border-top: 1px solid var(--dark);
}

.results {
  border: solid 1px transparent;
  border-radius: 3px
}

.results:hover {
  border: solid 1px var(--highlight)
}

/* TEXT COLOR */

h1, h1 a, h3, .ant-divider-inner-text, .ant-table-row, .results, .ant-checkbox-wrapper, .ant-card-meta-title, .ant-card-meta-description, .ant-pagination-item-ellipsis, .ant-progress-text, .ant-empty-description, .ant-select-selection, .ant-select-arrow, .ant-select-dropdown-menu-item, .ant-card-actions>li, .ant-drawer-title, .ant-form-item-label>label, .ant-table-thead>tr>th, .ant-modal-body, .ant-modal-close, .ant-input, .ant-tabs-tab-prev-icon, .ant-tabs-tab-next-icon, .ant-drawer-close {
  color: var(--white) !important;
}

/* ROW COLOR */

.ant-table-tbody>tr>td {
  border-color: rgba(28, 48, 66, 0.80);
}

.ant-tabs.ant-tabs-card>.ant-tabs-bar .ant-tabs-tab .ant-tabs-close-x {
  color: rgba(255, 255, 255, 0.5)
}

.ant-tabs.ant-tabs-card>.ant-tabs-bar .ant-tabs-tab .ant-tabs-close-x:hover {
  color: var(--white)
}

.ant-card-bordered {
  border-color: transparent
}

.ant-card-bordered:hover {
  border: 1px solid var(--highlight)
}

/**************************
*                         *
*                         *
*          YASQE          *
*                         *
*                         *
***************************/

/* MAIN BACKGROUND */

.yasqe .CodeMirror {
  background-color: rgb(136, 148, 163) !important
}

/* LINE NUMBER COLUMN */

.yasqe .CodeMirror-gutters {
  background-color: rgb(87, 102, 121) !important;
}

/* KEYWORDS */

.cm-keyword {
  color: rgb(127, 73, 189) !important
}

/* IRI */

.cm-variable-3, .cm-number {
  color: #834b2a !important;
}

/* VARIABLES */

.cm-atom {
  color: rgb(42, 21, 230) !important
}

/* PREFIXED PREDICATE */

.cm-string-2 {
  color: rgb(228, 189, 13) !important
}

/* MATCHIN BRACKET */

.yasqe div.CodeMirror span.CodeMirror-matchingbracket {
  color: rgb(184, 228, 118) !important
}

/* ERRORS */

.parseErrorIcon>svg>g {
  fill: var(--red);
}

.yasqe .cm-invalidchar, .yasqe .cm-s-default .cm-error {
  color: var(--red) !important;
}

.yasqe span.cm-error {
  border-bottom: 2px dotted var(--red) !important;
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: var(--red) !important;
}

.has-error .ant-form-explain {
  color: var(--red)
}

.has-error .ant-input {
  border-color: var(--red)
}

.ant-pagination-item, .ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link {
  border: 1px solid transparent;
}

.ant-pagination-item-active, .ant-pagination-item-active:focus, .ant-pagination-item:hover, .ant-pagination-prev .ant-pagination-item-link:hover, .ant-pagination-next .ant-pagination-item-link:hover {
  border-color: var(--highlight)
}

.ant-pagination-disabled .ant-pagination-item-link{
  background-color: var(--disabled) !important;
  border-color: transparent !important
}

.ant-table-tbody>tr>td {
  color: var(--white)
}

/***************************
*                          *
*        SCROLLBARS        *
*                          *
****************************/

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--highlight-gray);
  border-radius: 5px;
}